body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #00BFFF, #1E90FF);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.weather-container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
}
